.imageRowSelected {
	background-color: #A5DC4B;
    border-color: #A5DC4B;
}
.highlight {
	background-color: #E5E5E5;
    border-color: #E5E5E5;
}
.highlight.imageRowSelected {
    background-color: #E5E5E5 ! important;
    border-color: #A5DC4B ! important;
}
.imagePropertyGroupHeader {
	padding:3px;
	background-color: #ECF1F6;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
	text-align:center;
	font-weight: bold;
}
.imagePropertyGroupContainer {
	padding: 5px;
}
.imagePropertyPill {
	display: inline-block;
	border-radius: 10px;
	padding: 5px;
	margin: 3px;
}
.imagePropertyPillText {
	display: inline;
	font-size: 12px;
}
.imagePropertyPillRemove {
	width: 12px;
	height: 12px;
	display: inline-block;
	margin-left: 5px;
	background-image:url(../img/closeup.png);
}
.imagePropertyPillRemove:hover {
	background-image:url(../img/closedn.png);
}
.imageSelector {
	display: inline-block;
    border: 5px solid white;
}
.dropok {
    background-color: #CCFEBF ! important;
}
.noImages {
    padding: 20px;
    margin: 20px;
}

/*================================
/*	ExtJs Overrides
/*===============================*/
.x-grid-dirty-cell {
	background-image: none ! important;
}

/*================================
/*	App loading mask
/*===============================*/
		#loading-mask{
 			position:absolute;
 			left:0;
 			top:0;
    		width:100%;
    		height:100%;
    		z-index:20000;
    		background-color:white;
			}
	
		#loading{
 			position:absolute;
 			left:35%;
 			top:40%;
 			padding:2px;
 			z-index:20001;
  			height:auto;
			}

		#loading img {
    		margin-bottom:5px;
			}

		#loading .loading-indicator{
 			background:white;
 			color:#555;
 			font:bold 13px tahoma,arial,helvetica;
 			padding:10px;
 			margin:0;
 			text-align:center;
 			height:auto;
			}


/*================================
/*	Zoom Viewer Styles
/*===============================*/
img {
	border: none;
	border-width: 0px;
	background-color: transparent;
}
.imagezoom-tiles{
	width: 256px;
	height: 256px;
	border: thin solid rgb(153, 153, 153);
	text-align: center;
	float: left;
}
.tile{
	float: left;
	overflow: hidden;
    position: relative;
}
.hidden { display: none; }
.imagezoom-opencursor{
	cursor: url(../images/icons/openhand_8_8.cur) ,pointer;
}
.imagezoom-closecursor{
	cursor: url(../images/icons/closedhand_8_8.cur) ,pointer;
}
.imagezoom-copyright{
	bottom: 7px;
    color: grey;
    font-size: 12px;
    position: absolute;
    right: 8px;
    z-index: 10000;
}
.imagezoom-zoombox{
	border: medium none;
	-moz-user-select: none;
	z-index: 10000;
	position: absolute;
	width: 111px;
	height: 74px;
	left: 0px;
	top: 0px;
}
.imagezoom-rototecontrol {
	bottom: 4px;
    left: 40%;
    position: absolute;
    z-index: 10000;
}
.imagezoom-pancontrol{
	cursor: pointer;
	width: 59px;
	height: 59px;
    left: 15px;
    position: absolute;
    top: 20px;
    z-index: 10000;
}
.imagezoom-scaleBar {
    -moz-user-select: none;
    bottom: 4px;
    color: grey;
    font-family: Arial,sans-serif;
    font-size: 11px;
    height: 26px;
    left: 15px;
    position: absolute;
    width: 114px;
	z-index: 10000;
}
.imagezoom-zoomcontrol{
	left: 33px;
    position: absolute;
    top: 100px;
    z-index: 10000;
}
.imagezoom-zoomplus{
	padding-bottom: 5px;
    padding-left: 2px;
	cursor: pointer;
}
.imagezoom-zoomminus{
	padding-left: 2px;
	cursor: pointer;
}
/* ==========
    ICONS
========== */
.icon_view {
	background-image:url(../img/ico/application_put.png) !important;
}
.icon_toolbar {
	background-image:url(../img/ico/wrench.png) !important;
}
.icon_sets {
	background-image:url(../img/ico/note.png) !important;
}
.icon_tools {
	background-image:url(../img/ico/controller.png) !important;
}
.icon_metadata {
	background-image:url(../img/ico/table_relationship.png) !important;
}
.icon_collections {
	background-image:url(../img/ico/folder.png) !important;
}
.icon_queue {
	background-image:url(../img/ico/server.png) !important;
}
.icon_geography {
	background-image:url(../img/ico/map.png) !important;
}
.icon_newGeography {
	background-image:url(../img/ico/map_add.png) !important;
}
.icon_removeGeography {
	background-image:url(../img/ico/map_delete.png) !important;
}
.icon_editGeography {
	background-image:url(../img/ico/map_edit.png) !important;
}
.icon_map_link {
	background-image:url(../img/ico/map_link.png) !important;
}
.icon_eventTypes {
	background-image:url(../img/ico/world.png) !important;
}
.icon_users {
	background-image:url(../img/ico/group.png) !important;
}
.icon_addUser {
	background-image:url(../img/ico/user_add.png) !important;
}
.icon_editUser {
	background-image:url(../img/ico/user_edit.png) !important;
}
.icon_removeUser {
	background-image:url(../img/ico/user_delete.png) !important;
}
.icon_devices {
	background-image:url(../img/ico/drive.png) !important;
}
.icon_addDevice {
	background-image:url(../img/ico/drive_add.png) !important;
}
.icon_editDevice {
	background-image:url(../img/ico/drive_edit.png) !important;
}
.icon_removeDevice {
	background-image:url(../img/ico/drive_delete.png) !important;
}
.icon_saveDevice {
	background-image:url(../img/ico/drive_disk.png) !important;
}
.icon_defaultDevice {
	background-image:url(../img/ico/drive_go.png) !important;
}
.icon_category {
	background-image:url(../img/ico/table.png) !important;
}
.icon_newCategory {
	background-image:url(../img/ico/table_add.png) !important;
}
.icon_editCategory {
	background-image:url(../img/ico/table_edit.png) !important;
}
.icon_removeCategory {
	background-image:url(../img/ico/table_delete.png) !important;
}
.icon_newCollection {
	background-image:url(../img/ico/folder_add.png) !important;
}
.icon_editCollection {
	background-image:url(../img/ico/folder_edit.png) !important;
}
.icon_removeCollection {
	background-image:url(../img/ico/folder_delete.png) !important;
}
.icon_eventType {
	background-image:url(../img/ico/world.png) !important;
}
.icon_newEventType {
	background-image:url(../img/ico/world_add.png) !important;
}
.icon_editEventType {
	background-image:url(../img/ico/world_edit.png) !important;
}
.icon_removeEventType {
	background-image:url(../img/ico/world_delete.png) !important;
}
.icon_event {
	background-image:url(../img/ico/calendar.png) !important;
}
.icon_newEvent {
	background-image:url(../img/ico/calendar_add.png) !important;
}
.icon_editEvent {
	background-image:url(../img/ico/calendar_edit.png) !important;
}
.icon_removeEvent {
	background-image:url(../img/ico/calendar_delete.png) !important;
}
.icon_newSet {
	background-image:url(../img/ico/note_add.png) !important;
}
.icon_editSet {
	background-image:url(../img/ico/note_edit.png) !important;
}
.icon_removeSet {
	background-image:url(../img/ico/note_delete.png) !important;
}
.icon_attribute {
	background-image:url(../img/ico/tag_blue.png) !important;
}
.icon_newAttribute {
	background-image:url(../img/ico/tag_blue_add.png) !important;
}
.icon_editAttribute {
	background-image:url(../img/ico/tag_blue_edit.png) !important;
}
.icon_removeAttribute {
	background-image:url(../img/ico/tag_blue_delete.png) !important;
}
.icon_viewBoth {
	background-image:url(../img/ico/application_view_list.png) !important;
}
.icon_viewList {
	background-image:url(../img/ico/application_view_columns.png) !important;
}
.icon_viewSmall {
	background-image:url(../img/ico/application_view_icons.png) !important;
}
.icon_viewLarge {
	background-image:url(../img/ico/application_view_tile.png) !important;
}
.icon_arrowCW {
	background-image:url(../img/ico/arrow_rotate_clockwise.png) !important;
}
.icon_arrowCCW {
	background-image:url(../img/ico/arrow_rotate_anticlockwise.png) !important;
}
.icon_arrowAlternating {
	background-image:url(../img/ico/arrow_refresh.png) !important;
}
.icon_image {
	background-image:url(../img/ico/image.png) !important;
}
.icon_images {
	background-image:url(../img/ico/images.png) !important;
}
.icon_addImage {
	background-image:url(../img/ico/image_add.png) !important;
}
.icon_removeImage {
	background-image:url(../img/ico/image_delete.png) !important;
}
.icon_addKey {
	background-image:url(../img/ico/key_add.png) !important;
}
.icon_removeKey {
	background-image:url(../img/ico/key_delete.png) !important;
}
.icon_key {
	background-image:url(../img/ico/key.png) !important;
}
.icon_cancel {
	background-image:url(../img/ico/cancel.png) !important;
}
.icon_magnifier {
	background-image:url(../img/ico/magnifier.png) !important;
}
.icon_info {
	background-image:url(../img/ico/information.png) !important;
}
.icon_picture {
	background-image:url(../img/ico/picture.png) !important;
}
.icon_locked {
	background-image:url(../img/ico/lock.png) !important;
}
.icon_unlocked {
	background-image:url(../img/ico/lock_open.png) !important;
}
.icon_ocr {
	background-image:url(../img/ico/page_white_camera.png) !important;
}
.icon_evernote {
	background-image:url(../img/ico/evernote.png) !important;
}
.icon_refresh {
	background-image:url(../img/ico/refresh.png) !important;
}
.icon_logout {
	background-image:url(../img/ico/door_out.png) !important;
}
.icon_find {
	background-image:url(../img/ico/find.png) !important;
}
.icon_measure {
	background-image:url(../img/ico/shape_handles.png) !important;
}
.icon_namespace {
    background-image:url(../img/ico/package.png) !important;
}
.icon_barcode {
    background-image:url(../img/ico/barcode.png) !important;
}
